<div class="container">
  <div class="grid">
    <div class="cols-12 media-buttons">
      <a role="button" aria-hidden="true" [ngClass]="{ active: isActiveMovies }"
        (click)="toggleActive('movie')">Movies</a>
      <a role="button" aria-hidden="true" [ngClass]="{ active: isActiveTvshows }" (click)="toggleActive('tv')">TV
        Shows</a>
    </div>

    <!-- List genres -->
    <div *ngIf="genres$ | async as genres" class="cols-12 genres-links">
      <a *ngFor="let genre of genres" [routerLink]="'/genres/' + genre.id" role="button" aria-hidden="true">{{
        genre.name }}</a>
    </div>
  </div>

  <!-- Show items -->
  <div *ngIf="media$ | async as media" class="grid">
    <div class="col-2" *ngFor="let mediaItem of media.results">
      <app-media-item [mediaItem]="mediaItem"></app-media-item>
    </div>
  </div>

  <!-- Paginator -->
  <div class="grid">
    <div class="col-12">
      <app-paginator [media$]="media$" [genreId]="genreId" [mediaType]="mediaType"
        (pageEmitter)="onPageChange($event)"></app-paginator>
    </div>
  </div>
</div>
